
<h2 class="size">Visit History</h2>
<h1 *ngIf="health.length==0;else elsepart" style="margin-left: 5%;">It looks like you are a new User, Please book your first Appointment</h1>
<ng-template #elsepart >
<div *ngFor="let h of health" >
<mat-card style="width: 65%" class="firstCard">

    
        
        <div id="hhcontent">
            <p> <strong>Date :</strong>  {{h.date|customdate}}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>Doctor Name : </strong> {{h.doctorName}}</p>
            <p> <strong>Diagnosis : </strong>  {{h.diagnosis}}</p>
        </div>
  
   <mat-grid-list cols="2" rowHeight="8:1">
   <mat-grid-tile>
    <mat-card-actions class="btn" >
        <button id="buttons" (click)="openDiaog(h.hhId)" mat-raised-button color="primary">Prescription</button>
    </mat-card-actions>
   </mat-grid-tile>
   <mat-grid-tile>
    <mat-card-actions class="btn" >
        <button id="buttons" (click)="openDialog2(h.appointmentId)"  mat-raised-button color="primary">Check Up info</button>
    </mat-card-actions>
   </mat-grid-tile>
</mat-grid-list>

</mat-card>
</div>
</ng-template>